h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
    color:blue;
}

main {
    display: block;
    width: 95%;
    margin: 20px auto;;
}

#videoItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    gap: 10px;
     
}

.ficha-video-item {
    width: 22%;
    
}

.ficha-video-item figure {
    width: 100%;
    height: 100%;
} 

.ficha-video-item img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
 


#contenedorVideo {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: center; */
    position: fixed; 
    background: #2c2b2b;
    
    top: 10%;
    
    left: 20%; 
}

#mostrarVideo {
    display: block;
    width: 750px;
    height: 430px;
    border: 5px solid rgba(0, 0, 0, 0.672);
} 

#botonCerrar {
    display: block;
    position : absolute;    
    margin : 0 auto; 
    top : -2%;
    right : -1%; 
    width : 30px;
    height : 30px;
    font-size : 22px;
    border-radius : 50%;
    border : 2px solid rgb(239, 239, 239);
    background : black;
    color : white;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    .ficha-video-item {
        width: 48%;
        
    }
    #contenedorVideo { 
        display: block; 
        width: 550px;
        height: 330px;   
            
        top: 15%;
        left: 10px;
    
     
    }
    
    #mostrarVideo {      
        width: 100%;
        height: 100%;
        
    } 
    
    #botonCerrar {
        display: block;
        position : absolute;    
        margin : 0 auto; 
        top : -5%;
        right: 0; 
        width : 30px;
        height : 30px; 
        font-size : 20px;
        border-radius : 50%;
        border : 2px solid rgb(245, 245, 245);
        background : black;
        color : white;
        cursor: pointer;
    }
    
}

@media screen and (max-width:500px) {
    .ficha-video-item {
        width: 100%;
        
    }
    #contenedorVideo { 
        display: block; 
        width: 95%;
        /* height: 300px;  */  
            
        top: 20%;
        left: 10px;
    
     
    }
    
    #mostrarVideo {      
        width: 100%;
        height: 100%;
        border: 5px solid rgba(0, 0, 0, 0.672);
        
    } 
    
 /*    #botonCerrar {
        display: block;
        position : absolute;    
        margin : 0 auto; 
        top : -5%;
        right: 0; 
        width : 30px;
        height : 30px; 
        font-size : 20px;
        border-radius : 50%;
        border : 2px solid rgb(245, 245, 245);
        background : black;
        color : white;
        cursor: pointer;
    } */
    
}